.intro-header .page-heading h1 {
    font-size: 3.5rem;
}

.method-card {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}
.method-card h2 {
    font-size: 1.2rem;
    color: #a1a1a1;
}
.method-card p {
    margin: 0.5rem 0;
}